.hero {
    text-align: center;
    max-width: 1600px;
    height: 600px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;

    background-color: $background-footer-color;

    outline: 1px solid black;    
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
    ),
    url(../images-studio/hero.jpg);
 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    width: 696px;
    height: 120px;
    margin: 0px auto;
    padding-top: 200px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: $title-background-light-color;
}