.hero-button {
    padding-top: 30px;    
}

.hero-btn {
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 187% */
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
        
    background: $background-button-hero-color;
    color: $title-background-light-color;
}

.footer-form-telegram button {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    text-align: left;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    padding: 9px 29px;
    border: 0px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: $title-background-light-color;
}

.footer-button-telegram {
    display: flex;
    position: absolute;
    bottom: 13px;
    right: 28px;
    transform: translate(-50% -50%);
}

.form-close-button {
    position: absolute;
    justify-content: center;
    @extend %flex-alcenter;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;    
}

.form-close-button-icon {
    fill: $title-dark-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form-close-button:hover &,
    .form-close-button:focus & {
        fill: $accent-color;
    }
}