$main-font: 'Roboto', sans-serif;
$description-color: #757575;
$title-background-light-color: #ffffff;
$title-dark-color: #212121;
$accent-color: #2196F3;
$background-button-hero-color: #188CE8;
$background-button-portfolio-color: #F5F4FA;
$background-footer-color: #2F303A;
$background-team-color: #E5E5E5;
$footer-basement-color: rgba(255, 255, 255, 0.4);
$footer-address-item-color: rgba(255, 255, 255, 0.6);